# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
.pytest_cache/
.ruff_cache/
.mypy_cache/
.pyre/
.hypothesis/
.tox/
.nox/
.coverage
.coverage.*
htmlcov/
coverage.xml

# Packaging
build/
dist/
*.egg-info/
*.egg
pip-wheel-metadata/

# Local configuration
.env
.env.*
!.env.example

# PyCharm
.idea/
*.iml

# macOS
.DS_Store

# Out export
/export
