# This file needs to be filled in, and then installed as .env
#
#
# Bot API Token
DISCORD_TOKEN="The token you get from registering a bot as a discord developer"

# Numeric Discord Server ID
DISCORD_GUILD_ID="The number you get from Server Dropdown->Copy Server ID"

# Can be left as ./export, or changed to point to 
# any directory with sufficient storage
DISCORD_EXPORT_ROOT=./export

# The User Agent to use for Media Downloads
DISCORD_USER_AGENT="Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:156.0) Gecko/20100101 Firefox/156.0"

# Recommended to leave unchanged (50ms to 200ms delay between request)
DISCORD_DELAY_MIN_SECONDS=0.05
DISCORD_DELAY_MAX_SECONDS=0.2
